.vs/ApprendaSmokeTests/v14/.suo
ApprendaSmokeTestsBase/bin/
ApprendaSmokeTestsBase/obj/
obj/
packages/
DefaultApprendaSmokeTests/bin/
DevPortal.Swagger/DevPortal.Swagger/bin/
DevPortal.Swagger/DevPortal.Swagger.Test/bin/
ApprendaAPIClient/bin/
ApprendaSmokeTests.sln.DotSettings.user
